@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0 60px;
    background-color: #18191c;
    color: #eaeaea;
    font-family:'Poppins', sans-serif;
   
    
}

/*3C4048 00ABB3 B2B2B2 EAEAEA  */


header{

    display: flex;
    padding-top: 50px ;
    justify-content: space-between;
    align-items:center ;
    position: sticky;
    top: 0;
    background-color: #18191c;
    padding-bottom: 10px;
    
}

.new-button{

    display: none;
}

nav{
    display: flex;
    gap: 40px;
}

nav a{
    transition: all 0.4s;

}

nav a:hover {
    color: rgb(244,18,240);
    text-shadow: 2px 2px 30px rgb(244,18,240) ;
    cursor: pointer;
    transition: all 0.4s;
}

header button{
    cursor: pointer;
    border: none;
    padding: 16px 32px ;
    border-radius: 66px;
    color: #eaeaea;
    background: linear-gradient(225deg, #ff3cac 0%,#784ba0,#2b86c5 100%);
}

header h1{
    font-family: 'Unbounded';
    font-size: 50PX;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
}

.hero .left{
    max-width: 700px;
}

.hero .left h1{
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 800;
}

.hero .left h1 span{
    color:#2b86c5 ;
}
.hero .right{
    max-width: 700px;
}
.hero .right img{
    width: 100%;
}
.left-info{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.left-info button{
    width: 120px;
    height: 120px;
    background:linear-gradient(225deg, #ff3cac, #784ba0 ,#2b86c5);
    border-radius: 50%;
    font-size: 17px;
    border: none;
    color: white;
    cursor: pointer;
    
}

.left-info button:hover{
    background: linear-gradient(120deg, #784ba0,#ff3cac,#2b86c5 );
}


.left-info p{
    max-width: 400px;
}

.cards{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;

   
}

@media (max-width:770px){
    .card {

    
    justify-content: center;

}
}



.card{
    width: 280px;
    min-height: 400px;
    background-color: white;
    padding: 10px;
    flex-direction: column;
    gap: 25px;
    display: flex;
    border-radius: 10px;

}

.card img{

    width: 100%;

}

.card h2{
    color: black;
}

.card-info{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.card-info .price{
    display: flex;
    align-items: center;
    color: #b721ff;
    font-weight: bold;
}

.card-info small{
    color: black;
}

.card-info img{
    width: 30px;

}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 20px;
    


}

.footer p{
    background-color: rgb(209, 203, 203);
    padding: 5px 10px;
    border-radius: 10px;
    color: #b721ff;
}

.footer button{
    border: none;
    background-color: white;
    font-family: 'Poppins';
    color: blue;
    cursor: pointer;

}

.footer button:hover{
    
    background:linear-gradient(225deg, #ff3cac, #784ba0 ,#2b86c5);;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.reklam{
    background-color:#10c0e7 ;
    margin: 100px -120px;
    text-align: center;
    font-size: 116px;
    font-weight: 600;
    transform: rotate(-6deg);
    letter-spacing: 30px;
    white-space: nowrap;
    text-shadow: 2px 2px 20px white;
    cursor: pointer;

}


.info-cards{
    display: flex;
    

    border-radius: 15px;
    justify-content: space-between;
    
    
    
}

.info-card h2{
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top:  20px; ;
    
    

    
    
}

.info-card:nth-child(2){
    padding-bottom: 20px;
}




.info-cards p{
    max-width: 200px;
    margin: 20px;
}

.info-cards img{
    padding-left: 30px;
    padding-top: 30px;
}

.info-sec h1{
    
    padding-bottom: 30px;
    font-size: 50px;
   
}
.info-card{
    display: flex;
    flex-direction: column;
    background-color: #300753;
    
    
    

}


.info-card img{
    width: 50px;
}

.footer{

    
    
}
footer{
    display: flex;
}

footer h3{
    margin-top: 150px;
    margin-left: 70px;
    font-size: 30px;
}

footer p{
    margin-top: 30px;
    max-width: 300px;
}

.paragraf{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-left: 300px;
 

}

.paragraf p{
    
    justify-content: space-between;


   
}


@media (min-width: 1300px) {
    .hero .left{
        max-width: 900px;
    }

    .left-info p{
        max-width: 400px;
    }
}

@media (max-width :1000px) {
    .hero {
        flex-direction: column;
    }


    .hero .left{
        max-width: 900px
    
    }

    .hero .right {
        order: -1
    }

    .info-cards{
        flex-direction: column;
        align-items: center;
        
    }

    .new-button{
        display: block;
    }

    nav {
        display: none;
    }
    .left-info button{
        padding: 0 30px;
    }
}

.brands{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 100px 0;
}

.drops-sec{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.drops-sec h1{
    font-size: 45px;
    font-family: 'Inter'
}

.drops-sec ul{
    display: flex;
    gap: 40px;
    list-style: none;
    
}

.drops-sec ul li {
    background-color: gray;
    border-radius: 40px;
    padding: 10px 20px ;
    cursor: pointer;

}


.drops-sec ul li:hover{
    background:linear-gradient(225deg, #ff3cac, #784ba0 ,#2b86c5);
    
}
